[server]
[mysqld]
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
socket                  = /run/mysqld/mysqld.sock
bind-address            = 0.0.0.0

[mysqld_safe]

[mysql]
[isamchk]
key_buffer_size = 16M
query_cache_size = 16M

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysqlhotcopy]
interactive-timeout